{% extends 'base.html' %}
{% block title %} - About {% endblock %}

{% block content %}
<h1 class="title">About Pantry Raid</h1>
<p class="text">
  Pantry Raid is a matchmaker for your pantry and your next meal.
  Find recipes that use only ingredients you have on hand.
  Save money by shopping your freezer and shelves, not the supermarket's.
</p><br/>
<p>
  Developed using <a href="http://flask.pocoo.org/">Flask</a> for <a href="https://www.unomaha.edu">UNO</a>'s Introduction to Software Engineering course (CSCI 4830).
</p>
</br>
<h1 class="title">The Raiders</h1>
<ul>
  <li>Claire O.: Project Manager</li>
  <li>Julian P.: Team Tech Support</li>
  <li>David R.: Software Architect</li>
  <li>Tiff H.: Scribe and Git POC</li>
</ul>
</br>
<p>Recipes and images © <a href="https://allrecipes.com">Allrecipes.com</a></p>
<p>Favicon © 1992 Natsume</p>
{% endblock %}